version: '3'
services:
  client:
    build:
      context: ./
      dockerfile: ./docker/Dockerfile
    volumes:
      - ./:/app
    networks:
      - default
    ports:
      - 8080:80

networks:
  default:
