@font-face {
  font-family: 'Muli';
  font-style:  normal;
  font-weight: 400;
  src:url("../fonts/Muli-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Muli';
  font-style:  normal;
  font-weight: 600;
  src:url("../fonts/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Muli';
  font-style:  normal;
  font-weight: 700;
  src:url("../fonts/Muli-Bold.ttf") format("truetype");
}
